/* ## Menu Toggles
--------------------------------------------- */

.menu-toggle,
.sub-menu-toggle {
  background-color: #fff;
  border-width: 0;
  color: $color-text;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible;

  &:focus,
  &:hover {
    background-color: #fff;
    border-width: 0;
    color: $color-accent;
  }
}

.menu-toggle {
  border-top: 1px solid #eee;
  line-height: 22px;
  position: relative;
  width: 100%;
  z-index: 1000;

  &::before {
    font-size: 1.5em;
    margin-right: 10px;
    text-rendering: auto;
  }

  &:focus,
  &:hover {
    border-top: 1px solid #eee;
  }
}

.sub-menu-toggle {
  float: right;
  padding: 13px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  &::before {
    display: inline-block;
    text-rendering: auto;
    transform: rotate(0);
    transition: transform 0.25s ease-in-out;
  }

  &.activated::before {
    transform: rotate(180deg);
  }

  .sub-menu & {
    padding: 12px 10px;
  }
}

@media only screen and (min-width: $screen-medium) {
  .menu-toggle,
  .sub-menu-toggle {
    display: none;
    visibility: hidden;
  }
}
