/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

@media only screen and (max-width: $screen-xsmall - 1) {
	table {
		display: inline-block;
		max-width: 100%;
		overflow-x: auto;
		white-space: nowrap;
		vertical-align: top;
		-webkit-overflow-scrolling: touch;
	}
}
